.action-button {
  cursor: pointer;
  opacity: 0;
}

.action-column {
  width: 20px;
}

.action-column .action-button {
  border-radius: 4px;
  margin: -4px;
  padding: 8px;
}

.device-row-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.device-row-content .sub-content {
  color: #6e6d7a;
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-weight: 400;
  gap: 4px;
  line-height: 14.52px;
}

.device-row-content .title {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 4px;
}

.device-table {
  border-collapse: collapse;
  width: 100%;
}

.device-table td {
  border-bottom: 1px solid #e7e8eb;
  padding: 8px 12px;
  text-align: left;
}

.device-table th {
  border-bottom: 1px solid #cbcfd3;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 12px 12px 8px 12px;
  text-align: left;
}

.device-table tbody tr:hover {
  background-color: #f4f4f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-item {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
}

.dropdown-item.delete {
  color: #dc2626;
}

.dropdown-item.delete:hover {
  background-color: #fee2e2;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown-menu {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(33, 31, 51, 0.15);
  display: none;
  min-width: 120px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.first-column-content:hover .action-button {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.subtitle-text {
  text-transform: capitalize;
}

.table-container {
  margin: 16px 0 20px 0;
}

td.action-column:hover .action-button {
  background-color: #e8e8ea;
}

.title-text {
  text-transform: uppercase;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .device-table {
    font-size: 0.875rem;
  }

  .device-table th,
  .device-table td {
    padding: 8px;
  }

  .table-container {
    margin: 16px 0 10px 0;
  }
}
